<div class='playerHud' *ngIf="playerStats">
    <label>Health: </label><span [textContent]="playerStats.health"></span><br>
    <label>Lives: </label><span [textContent]="playerStats.lives"></span><br>
    <label>Bombs: </label><span [textContent]="playerStats.bombs"></span><br>
    <label>Blue: </label><span [textContent]="playerStats.blueEssence"></span><br>
    <label>Green: </label><span [textContent]="playerStats.greenEssence"></span><br>
    <label>Yellow: </label><span [textContent]="playerStats.yellowEssence"></span><br>
    <label>Purple: </label><span [textContent]="playerStats.purpleEssence"></span><br>
</div>

<div class="abilitiesHud">
    <div class='yellow essenceGlowing' *ngIf="essenceShimmerActive.yellow.active" [ngClass]="essenceShimmerActive.yellow.upAndDown"
        (click)="glowingEssenceClickedOn('yellow')">
        <div class="upgradeOptions" *ngIf="essenceShimmerActive.yellow.displayUpgrades">
            <div class="upgradeOption"
                *ngFor='let ability of essenceAbilitiesList.yellow'
                (click)="upgradeAbility('yellow', ability)"
                [innerHTML]="ability.toString()">
            </div>
        </div>
    </div>

    <div class='green essenceGlowing' *ngIf="essenceShimmerActive.green.active" [ngClass]="essenceShimmerActive.green.upAndDown"
        (click)="glowingEssenceClickedOn('green')">
        <div class="upgradeOptions" *ngIf="essenceShimmerActive.green.displayUpgrades">
            <div class="upgradeOption"
                *ngFor='let ability of essenceAbilitiesList.green'
                (click)="upgradeAbility('green', ability)"
                [innerHTML]="ability.toString()">
            </div>
        </div>
    </div>

    <div class='purple essenceGlowing' *ngIf="essenceShimmerActive.purple.active" [ngClass]="essenceShimmerActive.purple.upAndDown"
        (click)="glowingEssenceClickedOn('purple')">
        <div class="upgradeOptions" *ngIf="essenceShimmerActive.purple.displayUpgrades">
            <div class="upgradeOption"
                *ngFor='let ability of essenceAbilitiesList.purple'
                (click)="upgradeAbility('purple', ability)"
                [innerHTML]="ability.toString()">
            </div>
        </div>
    </div>

    <div class='blue essenceGlowing' *ngIf="essenceShimmerActive.blue.active" [ngClass]="essenceShimmerActive.blue.upAndDown"
        (click)="glowingEssenceClickedOn('blue')">
        <div class="upgradeOptions" *ngIf="essenceShimmerActive.blue.displayUpgrades">
            <div class="upgradeOption"
                *ngFor='let ability of essenceAbilitiesList.blue'
                (click)="upgradeAbility('blue', ability)"
                [innerHTML]="ability | keys">
            </div>
        </div>
    </div>

    <div *ngFor="let ability of abilities"
        (click)="useAbility(ability)"
        ng-class="{abilityOnCooldown: ability.onCooldown}"
        class="abilities">
    </div>
</div>