 <!---->
 <div class='player' 
    *ngIf = "playerInTile" 
    [ngClass]="{
    'fromRight': movingToVal === 'left', 
    'fromTop': movingToVal === 'down', 
    'fromBottom': movingToVal === 'up', 
    'fromLeft': movingToVal === 'right', 
    'toRight': movingToVal === 'right', 
    'toTop': movingToVal === 'up', 
    'toBottom': movingToVal === 'down', 
    'toLeft': movingToVal === 'left'
    }">
    <div class="playerModel" [ngClass]="playerFacing">
    </div>
</div>



<div class='tree' *ngIf = "treeInTile">
    <div class="treeExplosion" *ngIf = "treeExplode"></div>
    <div class="treeModel" [ngStyle]="{'background-image': 'url(assets/c-tree' + treeInTile.treeModelType + '.png)'}"></div>
</div>

<div class='loot' *ngIf = "lootInTile">
    <div class="essenceLoot" 
        *ngIf = "lootInTile.essenceColour"
        [ngClass]="lootInTile.essenceColour"
        [style.background-position-y.px]="lootInTile.essencePosition.y"
        [style.background-position-x.px]="lootInTile.essencePosition.x">
    </div>
    <div class = 'bombLoot'
        *ngIf = "lootInTile.bombs"
        [ngClass]="lootInTile.bombs">
    </div>
</div>

<div class="bombInTile" *ngIf = "bombInTile" [ngClass]="{ 'fromRight': bombMovingFromVal === 'right', 'fromUp': bombMovingFromVal === 'up', 'fromDown': bombMovingFromVal === 'down', 'fromLeft': bombMovingFromVal === 'left', 'toRight': bombMovingFromVal === 'right', 'toTop': bombMovingFromVal === 'up', 'toBottom': bombMovingFromVal === 'down', 'toLeft': bombMovingFromVal === 'left' }">
    <div class='bombModel'></div>
</div>

<div class = "treeExplosion" *ngIf="treeExplodeAnimation"></div>
<div class = "centerBombExplode" *ngIf="centerBombExplodeAnimation"></div>

