<game-hud [theGame] = "this"></game-hud>

<div class='board'
  [style.width.px] = "serverGameObject.gameSettings.tileSize * serverGameObject.gameSettings.gameCols"
  [style.top.px] = "topVal"
  [style.left.px] = "leftVal">

    <game-tile
      *ngFor = "let tile of tileData"
      [tileInstance] = "tile"
      [theGame] = "this"
      [style.background-position-y.px]="tile.bgy"
      [style.background-position-x.px]="tile.bgx"
      [class] = "'id'+tile.id+' col'+tile.column+' row'+tile.row">
    </game-tile>

    <game-player 
      *ngFor = "let player of serverGameObject.players; let i = index" 
      [playerNumber] = 'i + 1'
      [theGame] = "this"
      [style.top.rem]="(players[i].tile.row-1)*6"
      [style.left.rem]="(players[i].tile.column-1)*6"
      [class] = "'id'+players[i].tile.id+' col'+players[i].tile.column+' row'+players[i].tile.row" >
    </game-player>
</div>


