<game-hud [theGame] = "this"></game-hud>

<div class='board'
  [style.width.rem] = "6 * serverGameObject.gameSettings.gameCols"
  [style.top.px] = "topVal"
  [style.left.px] = "leftVal">

<div class="tiles">

  <game-tile
    #tileRef
    *ngFor = "let tile of tileData"
    [tileInstance] = "tile"
    [theGame] = "this"
    [style.background-position-y.px]="tile.bgy"
    [style.background-position-x.px]="tile.bgx"
    [class] = "'id'+tile.id+' col'+tile.column+' row'+tile.row">
  </game-tile>
</div>

  <ng-template #playerTemplate>
    <player [theGame]="this"></player>
  </ng-template>

  <ng-template #bombTemplate>
    <bomb [theGame]="this"></bomb>
  </ng-template>

  <ng-template #treeTemplate>
    <tree [theGame]="this"></tree>
  </ng-template>

  <ng-template #lootTemplate>
    <loot [theGame]="this"></loot>
  </ng-template>

  <ng-template #tentacleTemplate>
    <loot [theGame]="this"></loot>
  </ng-template>



  <ng-template #detectorTemplate>
    <volatile-detector [theGame]="this"></volatile-detector>
  </ng-template>

  <ng-container #gameBoardEntitiesContainer>
  </ng-container>


</div>

<div class="preloadImages">
  <div class="playerModelDown"></div>
  <div class="playerModelUp"></div>
  <div class="playerModelLeft"></div>
  <div class="playerModelRight"></div>
</div>


