@import 'css-reset';

html, body{
  height:100%;
  font-size: 80%;
}

the-game{
  height: 100%;
  display:block;
  background: #324a56  url('assets/waves.png');
  overflow: hidden;
  position: relative;
}

game-tile{
  display: inline-block;
  width: 6rem;
  height: 6rem;
  background: url('assets/grass.jpg');
  box-shadow: inset 0 0 1rem 0 #476a34;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
}

.board{
  background: #335309;
  display: block;
  font-size: 0;
  position: absolute;
  transition: top .4s linear, left .4s linear;
  box-shadow: 0 0 30px 11px;
}

player{
  position: absolute;
  left: 0;
  top: 0;

  .playerModel{
    position: absolute;
    z-index: 40;
    width: 6rem;
    height: 6rem;
    transition: top .4s linear, left .4s linear;

    .playerGraphic {
      position: absolute;
      background: url('assets/facing_down.png') no-repeat center;
      background-size: cover !important;
      width: 51%;
      height: 78%;
      left: 25%;
      top: 8%;
      filter: saturate(100%);
      -webkit-filter: saturate(100%);
      transition: filter linear 0.5s;

      &.facing.left, &.facing.right {
        width: 90%;
        left: 4%;
        height: 70%;
        top: 2%;
      }

      &.facing.down {
        background: url('assets/facing_down.png');
      }
      &.facing.up {
        background: url('assets/facing_up.png');
      }
      &.facing.right {
        background: url('assets/facing_right.png');
      }
      &.facing.left {
        background: url('assets/facing_left.png');
      }

      &.takingDamage {
        filter: saturate(250%);
        -webkit-filter: saturate(250%);
      }

      &.dead {
        filter: opacity(0%);
        -webkit-filter: opacity(0%);
      }

      &.invisible {
        filter: opacity(0.05) !important;
        -webkit-filter: opacity(0.05) !important;
      }
    }
  }
}

tree{
  position: absolute;
  left: 0;
  top: 0;

  .treeModel{
    position: absolute;
    z-index: 40;
    width: 6rem;
    height: 6rem;
    .treeGraphic{
      position: absolute;
      background-size: cover;
      width: 128%;
      height: 115%;
      left: 4%;
      top: -34%;

    }

    .treeAcidAnimation{
      width: 190%;
      height: 171%;
      background-size: cover;
      position: absolute;
      top: -61%;
      left: -38%;
      z-index: 20;
      visibility: hidden;
      transform: scale(0.5);
      filter: opacity(0.5);
      background-image: url('assets/treeAcidSpray_small.png');
      transition: transform 1s, filter 0.5s;
      &.start{
        visibility: visible;
        transform: scale(1);
        filter: opacity(1);
      }
    }
  }
}


volatile-detector{
  position: absolute;
  left: 0;
  top: 0;
  .volatileDetectorModel{
    z-index: 40;
    transition: top 0.8s linear, left 0.8s linear;
    width: 6rem;
    height: 6rem;
    position: absolute;
    .volatileDetectorGraphic{
      position: absolute;
      background: url('assets/magic_tower.png') no-repeat;
      background-size: cover;
      width: 100%;
      height: 112%;
      left: 12%;
      top: -28%;
    }

    .pulseAnimation{
      width: 60%;
      height: 60%;
      background-size: cover;
      position: absolute;
      top: -36%;
      left: 23%;
      z-index: 50;
      background-image: url('assets/activateDetectorPulseAnimation.gif');
    }
  }
}


.playerHud{
  background: url('assets/hud_bg.png') no-repeat;
  position: absolute;
  right: 0;
  width: 250px;
  height: 370px;
  padding: 20px 10px 90px 130px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  z-index: 50;
  background-size: cover;
  bottom: -120px;
  line-height: 1.6;
  .playerHud label {
      display: inline-block;
      width: 100px;
  }
}

loot {
  position: absolute;
  left: 0;
  top: 0;
  .lootModel{
    z-index: 40;
    width: 6rem;
    height: 6rem;
    position: absolute;

    .essenceLoot{
      width: 100%;
      height: 100%;
      z-index: 10;
      position: relative;

      &.purple{
        background: url('assets/essence-purple.png') no-repeat;
      }
      &.green{
        background: url('assets/essence-green.png') no-repeat;
      }
      &.yellow{
        background: url('assets/essence-yellow.png') no-repeat;
      }
      &.blue{
        background: url('assets/essence-blue.png') no-repeat;
      }
    }

    .oneBomb{
      width: 30px;
      height: 30px;
      background-size: cover;
      position: absolute;
      top: 37px;
      left: 37px;
      background-image: url('assets/bomb.png');
    }

    .threeBombs{
      width: 40px;
      height: 40px;
      background-size: cover;
      position: absolute;
      top: 30px;
      left: 30px;
      background-image: url('assets/trippleVolatile.png');
    }

  }
}





bomb{
  position: absolute;
  left: 0;
  top: 0;
  .bombModel {
    z-index: 40;
    transition: top 0.3s linear, left 0.3s linear;
    width: 6rem;
    height: 6rem;
    position: absolute;
    .bombGraphic {
      width: 55%;
      height: 57%;
      background-size: cover;
      position: absolute;
      top: 22%;
      left: 22%;
      background-image: url('assets/bomb.png');
    }

    .bombExplosion {
      width: 230%;
      height: 230%;
      background-size: cover;
      position: absolute;
      top: -80%;
      left: -70%;
      z-index: 50;
      background-image: url('assets/multiSplatter.gif');
    }
  }

  &.fromTop{
      top: -100%;
      transition: top 0s, left 0s;
  }
  &.fromBottom{
      top: 100%;
      transition: top 0s, left 0s;
  }
  &.fromLeft{
      left: -100%;
      transition: top 0s, left 0s;
  }
  &.fromRight{
      left: 100%;
      transition: top 0s, left 0s;
  }

  &.toTop{
      top: -100%;
  }
  &.toBottom{
      top: 100%;
  }
  &.toLeft{
      left: -100%;
  }
  &.toRight{
      left: 100%;
  }
}


.abilitiesHud {
    //background-image: url('assets/abilityHudBg.jpg');
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    font-family: cursive;
    font-weight: bold;
    font-size: 16px;
    z-index: 49;
    line-height: 1.6;
    text-align: center;

    .essenceGlowing{
        width: 150px;
        height: 150px;
        background-size: cover;
        margin-top: -50px;
        display: inline-block;
        cursor: pointer;
        transition: margin-top 1s linear;

        &.up{
            margin-top: -60px;
        }

        &:hover{
            filter: saturate(1.1);
            animation: none;
        }

        &.yellow{
            background-image: url('assets/e-yellow.png');
        }
        &.blue{
            background-image: url('assets/e-blue.png');
        }
        &.green{
            background-image: url('assets/e-green.png');
        }
        &.purple{
            background-image: url('assets/e-purple.png');
        }

        .upgradeOptions{
            position:absolute;
            top: -100px;
            width:150px;
            height:100px;
            background: #fff;
            text-align: center;
            padding: 10px 0;
            .upgradeOption{
                background: #eaefe3;
                margin-bottom:5px;
            }
        }

        .upgradeOption:hover{
            display: block;
        }
    }
}

.preloadImages{
    .playerModelDown{
        background: url('assets/facing_down.png');
    }
    .playerModelUp{
        background: url('assets/facing_up.png');
    }
    .playerModelRight{
        background: url('assets/facing_right.png');
    }
    .playerModelLeft{
        background: url('assets/facing_left.png');
    }
}

.volatileRunes {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: top .4s linear, left .4s linear;
  z-index: 40;

  &.pause{
    transition: top 0s, left 0s !important;
  }

  .volatileRunesModel {
    position: absolute;
    background-size: cover !important;

    filter: opacity(0%);
    -webkit-filter: opacity(0%);
    transition: filter linear .4s;


    &.one {
      background: url('assets/one_adjacent.png');
      width: 26%;
      height: 27%;
      left: 39%;
      top: 37%;
      filter: opacity(100%);
      -webkit-filter: opacity(100%);
    }
    &.two {
      background: url('assets/two_adjacent.png');
      width: 22%;
      height: 28%;
      left: 41%;
      top: 35%;
      filter: opacity(100%);
      -webkit-filter: opacity(100%);
    }
    &.three {
      background: url('assets/three_adjacent.png');
      width: 26%;
      height: 26%;
      left: 38%;
      top: 37%;
      filter: opacity(100%);
      -webkit-filter: opacity(100%);
    }
    &.four {
      background: url('assets/four_adjacent.png');
      width: 32%;
      height: 35%;
      left: 35%;
      top: 31%;
      filter: opacity(100%);
      -webkit-filter: opacity(100%);
    }
    &.five {
      background: url('assets/five_adjacent.png');
      width: 30%;
      height: 26%;
      left: 36%;
      top: 36%;
      filter: opacity(100%);
      -webkit-filter: opacity(100%);
    }
    &.six, &.seven, &.eight {
      background: url('assets/six_adjacent.png');
      width: 35%;
      height: 40%;
      left: 35%;
      top: 33%;
      filter: opacity(100%);
      -webkit-filter: opacity(100%);
    }
  }
}
