@import 'css-reset';

html, body{
    height:100%;
    font-size: 100%;
}

the-game{
    height: 100%;
    display:block;
    background: #324a56  url('assets/waves.png');
    overflow: hidden;
    position: relative;
}

game-tile{
    display: inline-block;
    width: 6rem;
    height: 6rem;
    background: url('assets/grass.jpg');
    box-shadow: inset 0 0 1rem 0 #476a34;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
}

.board{
    background: #335309;
    display: block;
    font-size: 0;
    position: absolute;
    transition: top .4s linear, left .4s linear;
    box-shadow: 0 0 30px 11px;
}

game-player{
    z-index: 40;
    transition: top .4s linear, left .4s linear;
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 0;
    top: 0;


    .playerModel{
        position: absolute;
        background: url('assets/facing_down.png') no-repeat center;
        background-size: cover;
        filter: saturate(100%);
        -webkit-filter: saturate(100%);
        transition: filter linear 0.5s;
        width: 53%;
        height: 81%;
        left: 24%;
        position: absolute;
        top: 6%;

        &.takingDamage{
            filter: saturate(250%);
            -webkit-filter: saturate(250%);
        }

        &.down{
            background: url('assets/facing_down.png');
            background-size: cover;
        }
        &.up{
            background: url('assets/facing_up.png');
            background-size: cover;
        }
        &.right{
            background: url('assets/facing_right.png');
            width: 124%;
            left: -6%;
            height: 98%;
            top: -8%;
            background-size: cover;
        }
        &.left{
            background: url('assets/facing_left.png');
            width: 124%;
            left: -6%;
            height: 98%;
            top: -8%;
            background-size: cover;
        }
    }
}

.tree{
    z-index: 40;
    width: 100%;
    height: 100%;
    position: absolute;
    .treeModel{
        position: absolute;
        background-size: cover;
        width: 110%;
        height: 115%;
        left: -5%;
        top: -18%;
    }
}

.playerHud{
    background: url('assets/hud_bg.png') no-repeat;
    position: absolute;
    right: 0;
    width: 250px;
    height: 370px;
    padding: 20px 10px 90px 130px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    z-index: 50;
    background-size: cover;
    bottom: -120px;
    line-height: 1.6;
    .playerHud label {
        display: inline-block;
        width: 100px;
    }
}

.loot {
    height: 100%;
    width: 100%;
    display: block;
}

.essenceLoot{
    width: 100%;
    height: 100%;
    z-index: 10;
    position: relative;

    &.purple{
        background: url('assets/essence-purple.png') no-repeat;
    }
    &.green{
        background: url('assets/essence-green.png') no-repeat;
    }
    &.yellow{
        background: url('assets/essence-yellow.png') no-repeat;
    }
    &.blue{
        background: url('assets/essence-blue.png') no-repeat;
    }
}

.oneBomb{
    width: 30px;
    height: 30px;
    background-size: cover;
    position: absolute;
    top: 37px;
    left: 37px;
    background-image: url('assets/bomb.png');
}

.threeBombs{
    width: 40px;
    height: 40px;
    background-size: cover;
    position: absolute;
    top: 30px;
    left: 30px;
    background-image: url('assets/trippleVolatile.png');
}

.centerBombExplode{
    width: 230%;
    height: 230%;
    background-size: cover;
    position: absolute;
    top: -80%;
    left: -70%;
    z-index: 50;
    background-image: url('assets/multiSplatter.gif');
}

.treeExplosion{
    width: 150px;
    height: 150px;
    background-size: cover;
    position: absolute;
    top: -34px;
    left: -22px;
    z-index: 20;
    background-image: url('assets/redSplatter.gif');
}

.bombInTile{
    z-index: 40;
    transition: top 0.2s linear, left 0.2s linear;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    .bombModel{
        width: 55%;
        height: 57%;
        background-size: cover;
        position: absolute;
        top: 22%;
        left: 22%;
        background-image: url('assets/bomb.png');
    }

    &.fromTop{
        top: -100%;
        transition: top 0s, left 0s;
    }
    &.fromBottom{
        top: 100%;
        transition: top 0s, left 0s;
    }
    &.fromLeft{
        left: -100%;
        transition: top 0s, left 0s;
    }
    &.fromRight{
        left: 100%;
        transition: top 0s, left 0s;
    }

    &.toTop{
        top: -100%;
    }
    &.toBottom{
        top: 100%;
    }
    &.toLeft{
        left: -100%;
    }
    &.toRight{
        left: 100%;
    }
}


.abilitiesHud {
    background-image: url('assets/abilityHudBg.jpg');
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    font-family: cursive;
    font-weight: bold;
    font-size: 16px;
    z-index: 49;
    line-height: 1.6;
    text-align: center;

    .essenceGlowing{
        width: 150px;
        height: 150px;
        background-size: cover;
        margin-top: -50px;
        display: inline-block;
        cursor: pointer;
        transition: margin-top 1s linear;

        &.up{
            margin-top: -60px;
        }

        &:hover{
            filter: saturate(1.1);
            animation: none;
        }

        &.yellow{
            background-image: url('assets/e-yellow.png');
        }
        &.blue{
            background-image: url('assets/e-blue.png');
        }
        &.green{
            background-image: url('assets/e-green.png');
        }
        &.purple{
            background-image: url('assets/e-purple.png');
        }

        .upgradeOptions{
            position:absolute;
            top: -100px;
            width:150px;
            height:100px;
            background: #fff;
            text-align: center;
            padding: 10px 0;
            .upgradeOption{
                background: #eaefe3;
                margin-bottom:5px;
            }
        }

        .upgradeOption:hover{
            display: block;
        }
    }
}
