@import 'css-reset';

html, body{
    height:100%;
}

the-game{
    height: 100%;
    display:block;
    background: #324a56  url('assets/waves.png');
    overflow: hidden;
    position: relative;
}

app-tile{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url('assets/grass.jpg');
    box-shadow: inset 0 0 4px 0px #476a34;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;

}

.board{
    background: #335309;
    display: block;
    font-size: 0px;
    position: absolute;
    transition: top .4s linear, left .4s linear;
    box-shadow: 0 0 30px 11px;
}

.player{
    z-index: 40;
    transition: top 0.4s linear, left 0.4s linear;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;

    .playerModel{
        position: absolute;
        background: url('assets/facing_down.png');
        background-size: cover;
        width: 70%;
        height: 110%;
        left: 15%;
        top: -10%;
        background-repeat: no-repeat;
        background-position: center;

        &.down{
            background: url('assets/facing_down.png');
            background-size: cover;
        }
        &.up{
            background: url('assets/facing_up.png');
            background-size: cover;
        }
        &.right{
            background: url('assets/facing_right.png');
            width: 124%;
            left: -6%;
            height: 98%;
            top: -8%;
            background-size: cover;
        }
        &.left{
            background: url('assets/facing_left.png');
            width: 124%;
            left: -6%;
            height: 98%;
            top: -8%;
            background-size: cover;
        }
    }
    
    
    &.fromTop{
        top: -100%;
        transition: top 0s, left 0s;
    }
    &.fromBottom{
        top: 100%;
        transition: top 0s, left 0s;
    }
    &.fromLeft{
        left: -100%;
        transition: top 0s, left 0s;
    }
    &.fromRight{
        left: 100%;
        transition: top 0s, left 0s;
    }

    &.toTop{
        top: -100%;
    }
    &.toBottom{
        top: 100%;
    }
    &.toLeft{
        left: -100%;
    }
    &.toRight{
        left: 100%;
    }
}

.tree{
    z-index: 40;
    width: 100%;
    height: 100%;
    position: absolute;
    .treeModel{
        position: absolute;
        background-size: cover;
        width: 110%;
        height: 115%;
        left: -5%;
        top: -18%;
    }
}

.playerHud{
    background: url('assets/hud_bg.png') no-repeat;
    position: absolute;
    right: 0px;
    width: 250px;
    height: 370px;
    padding: 20px 10px 90px 130px;
    box-sizing: border-box;
    font-family: cursive;
    font-weight: bold;
    font-size: 16px;
    z-index: 50;
    background-size: cover;
    bottom: -120px;
    line-height: 1.6;
    .playerHud label {
        display: inline-block;
        width: 100px;
    }
}

.essence {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: relative;

    &.purple{
        background: url('assets/essence-purple.png') no-repeat;
    }
    &.green{
        background: url('assets/essence-green.png') no-repeat;
    }
    &.yellow{
        background: url('assets/essence-yellow.png') no-repeat;
    }
    &.blue{
        background: url('assets/essence-blue.png') no-repeat;
    }
}
.oneBomb{
    width: 30px;
    height: 30px;
    background-size: cover;
    position: absolute;
    top: 37px;
    left: 37px;
    background-image: url('assets/bomb.png');

}

.threeBombs{
    width: 40px;
    height: 40px;
    background-size: cover;
    position: absolute;
    top: 30px;
    left: 30px;
    background-image: url('assets/trippleVolatile.png');

}



.centerBombExplode{
    width: 230%;
    height: 230%;
    background-size: cover;
    position: absolute;
    top: -80%;
    left: -70%;
    z-index: 50;
    background-image: url('assets/multiSplatter.gif');
}


.treeExplosion{
    width: 150px;
    height: 150px;
    background-size: cover;
    position: absolute;
    top: -34px;
    left: -22px;
    z-index: 20;
    background-image: url('assets/redSplatter.gif');
}


.bombInTile{
    z-index: 40;
    transition: top 0.2s linear, left 0.2s linear;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0%;
    top: 0%;
    .bombModel{        
        width: 55%;
        height: 57%;
        background-size: cover;
        position: absolute;
        top: 22%;
        left: 22%;
        background-image: url('assets/bomb.png');
    }

    &.fromTop{
        top: -100%;
        transition: top 0s, left 0s;
    }
    &.fromBottom{
        top: 100%;
        transition: top 0s, left 0s;
    }
    &.fromLeft{
        left: -100%;
        transition: top 0s, left 0s;
    }
    &.fromRight{
        left: 100%;
        transition: top 0s, left 0s;
    }

    &.toTop{
        top: -100%;
    }
    &.toBottom{
        top: 100%;
    }
    &.toLeft{
        left: -100%;
    }
    &.toRight{
        left: 100%;
    }

}
