@import 'css-reset';

html, body{
    height:100%;
}

the-game{
    height: 100%;
    display:block;
    background: #324a56  url('assets/waves.png');
    overflow: hidden;
    position: relative;
}

app-tile{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url('assets/grass.jpg');
    border-radius: 2px;
    border: ridge 1px rgba(37, 30, 30, 0.28);
    box-sizing: border-box;
    vertical-align: top;
    position: relative;

}

.board{
    background: black;
    display: block;
    font-size: 0px;
    position: absolute;
    transition: top .5s, left .5s;
    box-shadow: 0 0 30px 11px;
}

.player{
    position: absolute;
    background: url('assets/facing_down.png');
    background-size: cover;
    width: 70%;
    height: 110%;
    left: 15%;
    top: -10%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 40;
    transition: top 0.4s, left 0.4s;
    &.down{
        background: url('assets/facing_down.png');
        background-size: cover;
    }
    &.up{
        background: url('assets/facing_up.png');
        background-size: cover;
    }
    &.right{
        background: url('assets/facing_right.png');
        width: 124%;
        left: -6%;
        height: 98%;
        top: -8%;
        background-size: cover;
    }
    &.left{
        background: url('assets/facing_left.png');
        width: 124%;
        left: -6%;
        height: 98%;
        top: -8%;
        background-size: cover;
    }
    &.movingDown{
        top: -112%;
        transition: top 0s, left 0s;
    }
    &.movingUp{
        top: 102%;
        transition: top 0s, left 0s;
    }
    &.movingRight{
        left: -108%;
        transition: top 0s, left 0s;
    }
    &.movingLeft{
        left: 96%;
        transition: top 0s, left 0s;
    }
}

.tree{
    position: absolute;
    background-size: cover;
    width: 110%;
    height: 115%;
    left: -5%;
    top: -18%;
    z-index: 40;
}

.playerHud{
    background: url('assets/hud_bg.png') no-repeat;
    position: absolute;
    right: 0px;
    width: 250px;
    height: 370px;
    padding: 20px 10px 90px 130px;
    box-sizing: border-box;
    font-family: cursive;
    font-weight: bold;
    font-size: 16px;
    z-index: 50;
    background-size: cover;
    bottom: -120px;
    line-height: 1.6;
    .playerHud label {
        display: inline-block;
        width: 100px;
    }
}

.essence {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: relative;

    &.purple{
        background: url('assets/essence-purple.png') no-repeat;
    }
    &.green{
        background: url('assets/essence-green.png') no-repeat;
    }
    &.yellow{
        background: url('assets/essence-yellow.png') no-repeat;
    }
    &.blue{
        background: url('assets/essence-blue.png') no-repeat;
    }
}
.oneBomb{
    width: 30px;
    height: 30px;
    background-size: cover;
    position: absolute;
    top: 37px;
    left: 37px;
    background-image: url('assets/bomb.png');

}

.threeBombs{
    width: 40px;
    height: 40px;
    background-size: cover;
    position: absolute;
    top: 30px;
    left: 30px;
    background-image: url('assets/trippleVolatile.png');

}

.bombExplosion{
    width: 64px;
    height: 64px;
    background-size: cover;
    position: absolute;
    top: 15px;
    left: 17px;
    z-index: 20;
    background-image: url('assets/multiSplatter.gif');


}



.centerBombExplode{
    width: 230%;
    height: 230%;
    background-size: cover;
    position: absolute;
    top: -80%;
    left: -70%;
    z-index: 50;
    background-image: url('assets/multiSplatter.gif');


}

.treeExplosion{
    width: 150px;
    height: 150px;
    background-size: cover;
    position: absolute;
    top: -34px;
    left: -22px;
    z-index: 20;
    background-image: url('assets/redSplatter.gif');


}

.bombInTile{
    width: 55%;
    height: 57%;
    background-size: cover;
    position: absolute;
    top: 22%;
    left: 22%;
    background-image: url('assets/bomb.png');
    transition: top 0.2s, left 0.2s;
    z-index: 40;


    &.movingDown{
        top: -78%;
        transition: top 0s, left 0s;
    }
    &.movingUp{
        top: 78%;
        transition: top 0s, left 0s;
    }
    &.movingRight{
        left: -78%;
        transition: top 0s, left 0s;
    }
    &.movingLeft{
        left: 78%;
        transition: top 0s, left 0s;
    }

}
